.container {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    background-color: rgb(17, 11, 11);
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: blue;
    box-sizing: border-box;
    border-top: 1px solid rgb(34, 33, 33) ;
    border-right: 1px solid rgb(34, 33, 33) ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    border-left: 1px solid rgba(255, 255, 255, 0.418);
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}
